tt.*
.tests
doc/tags
debug
.repro
foo.*
*.log
data
**/lazy-lock.json
**/lazyvim.json

# Ignore specific secret profile scripts
shell/.secret_rc
.secret_rc

# Ignore all Vim persistent undo histories and swap files
*.un~
.*.un~
*.swp
.*.swp
*~
